/* CSS style for the Barcode Letter-Size - HP Gong  */


input[type=reset]:not(.flat_btn).btn_blue,input[type=submit]:not(.flat_btn).btn_blue{display:inline-block;box-sizing:border-box;margin:5px;text-align:center;text-decoration:none;cursor:pointer;background-color:transparent;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;font-size:10px;font-size:0.9rem;line-height:15px;line-height:2.5rem;min-width:50px;min-width:5rem;padding:5px 5px;border-color:#666;border-width:1px;border-style:solid;border-radius:2.5px; border-color:#387cfd;background-color:#387cfd;color:#f5f5f5;}

input[type=reset]:not(.flat_btn).btn_blue:hover,input[type=submit]:not(.flat_btn).btn_blue:hover{background-color:#065bfc;border-color:#065bfc;}

input[type=reset]:not(.flat_btn).btn_red,input[type=submit]:not(.flat_btn).btn_red{display:inline-block;box-sizing:border-box;margin:5px;text-align:center;text-decoration:none;cursor:pointer;background-color:transparent;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;font-size:10px;font-size:0.9rem;line-height:15px;line-height:2.5rem;min-width:50px;min-width:5rem;padding:5px 5px;border-color:#666;border-width:1px;border-style:solid;border-radius:2.5px; border-color:#d32f2f;background-color:#d32f2f;color:#f5f5f5;}

input[type=reset]:not(.flat_btn).btn_red:hover,input[type=submit]:not(.flat_btn).btn_red:hover{background-color:#ab2424;border-color:#ab2424;}

input[type=button]:not(.flat_btn).btn_blues,input[type=button]:not(.flat_btn).btn_blues{display:inline-block;box-sizing:border-box;margin:5px;text-align:center;text-decoration:none;cursor:pointer;background-color:transparent;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;font-size:10px;font-size:0.9rem;line-height:15px;line-height:2.5rem;min-width:50px;min-width:5rem;padding:5px 5px;border-color:#666;border-width:1px;border-style:solid;border-radius:2.5px; border-color:#387cfd;background-color:#387cfd;color:#f5f5f5;}

input[type=button]:not(.flat_btn).btn_blues:hover,input[type=button]:not(.flat_btn).btn_blues:hover{background-color:#065bfc;border-color:#065bfc;}

.wp-core-ui input[type="submit"]:not(.flat_btn).btn_reds{display:inline-block;box-sizing:border-box;margin:5px;text-align:center;text-decoration:none;cursor:pointer;background-color:transparent;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;font-size:10px;font-size:0.9rem;line-height:15px;line-height:2.5rem;min-width:50px;min-width:5rem;padding:5px 5px;border-color:#666;border-width:1px;border-style:solid;border-radius:2.5px; border-color:#d32f2f;background-color:#d32f2f;color:#f5f5f5;}

.wp-core-ui input[type="submit"]:not(.flat_btn).btn_reds:hover{background-color:#ab2424;border-color:#ab2424;}

span.at-required-highlight {color: red;}

.at-required-highlight {color: red;}

.at-error{color:red;margin:0;}.at-warning{color:orange;margin:0;}

.at-required,.at-required+label::before{border-color:red!important;}

p.at-warning{color: red;}

.box{padding: 0px;display: none;margin-top: 0px;border: 0px solid #000;width: 90%;}

li{display: list-item;list-style-position: inside;}

#ol-tag{column-count:4; -o-column-count:4; -moz-column-count:4; -webkit-column-count:4; list-style-type: square;}

.center {
    text-align: center;
}

#bart {
    text-align: center; display: block;
}
